<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="BlogCompilerContext" connectionString="metadata=res://*/BlogDBModel.csdl|res://*/BlogDBModel.ssdl|res://*/BlogDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=a12345;persistsecurityinfo=True;database=blog_dev&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="TemplatePath" value="./template"/>
    <add key="TemplateList" value="./template/list.html"/>
    <add key="TemplateEmpty" value="./template/empty.html"/>
    <add key="TemplatePost" value="./template/post.html"/>
    <add key="SavePath" value="D:\apache\htdocs"/>
  
    <add key="ListTitleWord" value="리스트"/>
    <add key="MainTitle" value="명월의 개발 일기"/>
    <add key="MaxPaging" value="5"/>
    <add key="MaxPosting" value="5"/>
    <add key="SiteMap" value="sitemap.xml"/>
    
    <!--add key="SiteRoot" value="http://www.nowonbun.com"/-->
    <add key="SiteRoot" value="http://localhost:8081"/>
  
    <add key="Rss" value="rss"/>
    <add key="RssTitle" value="명월의 개발 일기"/>    
    <add key="RssDescription" value="어두운 밤길을 비추는 달빛처럼.. 어둡고 외로운 개발의 길을 걷는 이들의 밝은 달빛이 되길 바라는 개발자... 프로그램 개발 간의 고민, 문제점을 해결하는 방법 등의 노하우를 일기 형식으로 공유하는 블로그."/>
    <add key="RssLanguage" value="ko"/>
    <add key="RssGenerator" value="nowonbun blog editor"/>
    <add key="RssEditor" value="nowonbun@gmail.com"/>

    <add key="Keywords" value="명월 일기, 프로그램 개발, 프로젝트 구축, 개발 노하우"/>
    <add key="Description" value="어둡고 외로운 길을 걷는 개발자들의 밝은 달빛이 되길 바라는 개발자, 개발 간의 고민, 문제점을 해결하는 방법 등의 노하우를 공유하는 블로그."/>
    <add key="Author" value="nowonbun@gmail.com"/>

    <add key="DEBUG" value="1"/>

  </appSettings>
</configuration>