<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="BlogCompilerContext" connectionString="metadata=res://*/BlogDBModel.csdl|res://*/BlogDBModel.ssdl|res://*/BlogDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=a12345;persistsecurityinfo=True;database=blog_dev&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="test" value="hello"/>
  </appSettings>
</configuration>